<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <h1>welcome to angular course</h1> -->
  <!-- <app-books></app-books> -->
  <!-- <app-cart></app-cart> -->
  <nav class="flex justufy- between p-4 bg-blue-800 text-white">
    <div>
      <a routerLink="/">Book shop</a>
    </div>
    <div>
      <a class="mx-4" routerLink="/cart">My Cart</a>
      <ng-container *ngIf="!isAuthenticated()">
        <a class="mx-4" routerLink="/login">Login</a>
        <a class="mx-4" routerLink="/register">Register</a>
      </ng-container >
      <ng-container *ngIf="isAuthenticated()">
        <button (click)="logout()" class="mx-4">Logout</button>
      </ng-container>

      

    </div>
  </nav>
  <div class="p-4">
    <router-outlet></router-outlet>
  </div>
</body>
</html>